<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Management</title>
    <link rel="stylesheet" href="/style/view-employee.css">
</head>

<body>
    <header>
        <h1>Employee Management</h1>
    </header>

    <main>
        <section class="view-employee">
            <div class="button-container">
                <a href="/addemployee" class="add-btn">Add Employee</a>
            </div>
            <div class="card-container">
                <div class="card">
                    <div class="card-header">
                        <img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/202211/untitled-1_0-sixteen_nine.jpg?VersionId=D0zHExiwCt6FwqnpOHTHcih2CycB8xCE&size=690:388"
                            alt="dhoni-images">
                    </div>
                    <div class="card-body">
                        <h2>MS Dhoni</h2>
                        <h4>Cricket Player</h4>
                        <p>A leader is as much as part of the team as the rest of the members. Dhoni always supported
                            his
                            players at all times with trust and confidence and stood up for them when needed.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#">Update</a>
                        <a href="#">Delete</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/202211/untitled-1_0-sixteen_nine.jpg?VersionId=D0zHExiwCt6FwqnpOHTHcih2CycB8xCE&size=690:388"
                            alt="dhoni-images">
                    </div>
                    <div class="card-body">
                        <h2>MS Dhoni</h2>
                        <h4>Cricket Player</h4>
                        <p>A leader is as much as part of the team as the rest of the members. Dhoni always supported
                            his
                            players at all times with trust and confidence and stood up for them when needed.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#">Update</a>
                        <a href="#">Delete</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/202211/untitled-1_0-sixteen_nine.jpg?VersionId=D0zHExiwCt6FwqnpOHTHcih2CycB8xCE&size=690:388"
                            alt="dhoni-images">
                    </div>
                    <div class="card-body">
                        <h2>MS Dhoni</h2>
                        <h4>Cricket Player</h4>
                        <p>A leader is as much as part of the team as the rest of the members. Dhoni always supported
                            his
                            players at all times with trust and confidence and stood up for them when needed.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#">Update</a>
                        <a href="#">Delete</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/202211/untitled-1_0-sixteen_nine.jpg?VersionId=D0zHExiwCt6FwqnpOHTHcih2CycB8xCE&size=690:388"
                            alt="dhoni-images">
                    </div>
                    <div class="card-body">
                        <h2>MS Dhoni</h2>
                        <h4>Cricket Player</h4>
                        <p>A leader is as much as part of the team as the rest of the members. Dhoni always supported
                            his
                            players at all times with trust and confidence and stood up for them when needed. The
                            confidence that he created among his fellow team members helped them deliver their best.
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut quam assumenda fugiat
                            aspernatur tenetur modi vero cumque necessitatibus ad itaque minima, dolorum natus
                            repudiandae unde blanditiis vitae dicta dolor. Ipsa.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#">Update</a>
                        <a href="#">Delete</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/202211/untitled-1_0-sixteen_nine.jpg?VersionId=D0zHExiwCt6FwqnpOHTHcih2CycB8xCE&size=690:388"
                            alt="dhoni-images">
                    </div>
                    <div class="card-body">
                        <h2>MS Dhoni</h2>
                        <h4>Cricket Player</h4>
                        <p>A leader is as much as part of the team as the rest of the members. Dhoni always supported
                            his
                            players at all times with trust and confidence and stood up for them when needed.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#">Update</a>
                        <a href="#">Delete</a>
                    </div>
                </div>
            </div>
        </section>
    </main>

</body>

</html>